*{
    margin:0%;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica;
}
p{
    margin: 3px;
}

body{
    background-color: rgb(84, 66, 90);
}
#asidemain{
    display: none;
}

/* logo&stuff */
#home{
    display: none;
}
#logo{
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 35px;
    font-weight: 900;
    color: rgb(27, 34, 39);

    background-image: radial-gradient(circle at top left, rgb(230, 61, 112),rgb(224, 61, 230));
    border-radius: 30px;
    border-top-right-radius: 0;
}
#logo span{
    display: block;
    padding: 10px;
}

/* nav */
nav{
    position: fixed;
    top:45px;
    left: 180px;
}
nav ul{
    border-radius: 30px;
    background-image: radial-gradient(circle at top left, #e03de6, #7480f1);
}
nav ul span{
    display: block;
    padding: 10px;
}
nav ul li{
    display: inline-block;
}
nav a {
    color: rgb(29, 31, 27);
    
}

/* main */
main section{
    width: 250px;
    margin:160px auto;
    margin-bottom: 0px;
}
main section span{
    display: inline-flex;
}

/* footer */
footer{
    position: fixed;
    right: 5px;
    bottom: 10px;
}
footer span{
    background-image: radial-gradient(circle at left, #9574f1,  #74bff1);
    padding: 15px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
}

footer a{
    font-size: 25px;
    color: #000000d0;
}

/* images */

#web2{
    width: 400px;
    float: left;
    margin-left: -50px;
}
